#rsmg_main {
  color: #333333;
}

ul#rsmg_gallery li div.rsmg_item_container {
  border: 1px solid #cccccc;
  background: #464646;
  box-shadow: 5px 5px 0 #dedede;
}
ul#rsmg_gallery li div.rsmg_item_container:hover {
  background: #ff7909;
}
ul#rsmg_gallery li div.rsmg_item_container a {
  color: #00aeef;
}

#rsmg_main a.rsmg_big_button {
  background: none repeat scroll 0 0 #E3E3E3;
    border: 1px solid #BBBBBB;
  box-shadow: 0 0 1px 1px #F6F6F6 inset;
    color: #00aeef;
  text-shadow: 0 1px 0 #FFFFFF;
}

#rsmg_main a:hover.rsmg_big_button,
#rsmg_main a:focus.rsmg_big_button,
#rsmg_main a:active.rsmg_big_button
{
  background: none repeat scroll 0 0 #D9D9D9;
    box-shadow: 0 0 1px 1px #EAEAEA inset;
    color: #333333;
    cursor: pointer;
}

div#rsmg_image_container {
  border: 1px solid #cccccc;
  background: #fff;
  box-shadow: 5px 5px 0 #dedede;
}

div#rsmg_image_container a {
  color: #a00000;
}

div#rsmg_image_container a:hover,
div#rsmg_image_container a:focus,
div#rsmg_image_container a:active
{
  color: #333333;
}

ul#rsmg_gallery li div.rsmg_item_container a:hover,
ul#rsmg_gallery li div.rsmg_item_container a:focus,
ul#rsmg_gallery li div.rsmg_item_container a:active {
  color: #333333;
}

div#rsmg_thumb_container .rsmg_back {
  background: #fff;
  border: 1px solid #cccccc;
}

div#rsmg_thumb_container .rsmg_back a {
  color: #727272;
}

#lightbox-image-details-caption .rsmg_toolbox,
div#rsmg_thumb_container .rsmg_toolbox {
  border: 1px solid #cccccc;
  color: #727272;
  background-color: #fff;
}

#lightbox-image-details-caption .rsmg_views,
div#rsmg_thumb_container .rsmg_views {
  background-image: url(../images/eye-light.png);
}

#lightbox-image-details-caption .rsmg_download,
div#rsmg_thumb_container .rsmg_download {
  background-image: url(../images/download-light.png);
}

#lightbox-image-details-caption .rsmg_download a,
div#rsmg_thumb_container .rsmg_download a {
  color: #6d4a55;
}

p.rsmg_tags strong {
  color: #00aeef;
}

/* lightbox */

#jquery-overlay {
  background: #000;
}

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
  background-color: #fff !important;
  border: 1px solid #CCCCCC;
  box-shadow: 2px 2px 0 #dedede;
}

#lightbox-nav-btnPrev:hover, #lightbox-nav-btnNext:hover,
#lightbox-nav-btnPrev:active, #lightbox-nav-btnNext:active,
#lightbox-nav-btnPrev:focus, #lightbox-nav-btnNext:focus {
  background-color: #f7f7f7 !important;
}

#lightbox-container-image-box {
  background-color: #fff;
}

#lightbox-container-image-data-box {
  background-color: #fff;
}

#lightbox-container-image-data {
  color: #666;
}

#lightbox-loading {
  background-image: url("../images/lightbox-loader-light.gif");
}

#lightbox-btnClose {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #CCCCCC;
}

a#lightbox-secNav-btnClose {
  color: #00aeef;
}